body {
    background-color: lightblue;
    font-family: Arial;
    padding: 20px;

}
.container {
    background-color: white;
    width: 400px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;

}
 h1 {
     text-align: center;
     color: blue;

 }
input {
    width: 250px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid gray;

}
button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;

}
button:hover {
    background-color: darkblue;

}
.weather-box {
    margin-top: 30px;
    text-align: center;

}
.temp {
    font-size: 50px;
    font-weight: bold;
    color: orange;

}
.details {
    margin-top: 20px;

}
.detail {
    background-color: #f0f0f0;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;

}